.tabs {
  display: flex;
  gap: 1.5rem;
  background-color: #D9D9D9;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 10px
}

.tabs button {
  background: none;
  width: 50%;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.5;
}

.tabs button.active {
  opacity: 1;
}
