/* .tabs {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.tabs button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.5;
}

.tabs button.active {
  opacity: 1;
  font-weight: bold;
  border-bottom: 2px solid black;
} */
